/*Gradient test css*/
selector {
    background: linear-gradient(180deg, #ff8a00, #da1b60); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
/*Image text css*/
selector {
    color: transparent;
    background-image: url(images/home-startup-text-bg.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
/*Use svg*/
selector {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><linearGradient id='gradient'><stop offset='10%' stop-color='%23F00'/><stop offset='90%' stop-color='%23fcc'/> </linearGradient><rect fill='url(%23gradient)' x='0' y='0' width='100%' height='100%'/></svg>");
}
/*svg with mask*/
:root {
  --icon-color: #525252;
  --icon-color-hover: #0066cc;
}

.icon-element::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--icon-color);
  -webkit-mask: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.875 4.47567C10.7054 4.07866 9.44002 4.06314 8.26106 4.43134C7.08209 4.79954 6.05042 5.53245 5.31465 6.5245C4.57889 7.51655 4.17699 8.71654 4.16687 9.95162C4.15674 11.1867 4.5389 12.3931 5.25831 13.3971C5.97771 14.4011 6.99722 15.1508 8.16999 15.5383C9.34276 15.9258 10.6082 15.931 11.7842 15.5532C12.9601 15.1755 13.9858 14.4342 14.7135 13.4362C15.4411 12.4382 15.8333 11.235 15.8333 9.99983H17.5C17.5 11.7171 16.9108 13.3824 15.8306 14.7174C14.7505 16.0524 13.245 16.9763 11.5655 17.3348C9.88611 17.6932 8.13453 17.4645 6.60347 16.6868C5.0724 15.9091 3.85459 14.6296 3.15351 13.0619C2.45242 11.4943 2.31053 9.73358 2.75154 8.07392C3.19255 6.41425 4.18976 4.9562 5.57653 3.94337C6.9633 2.93053 8.65565 2.42428 10.3708 2.50918C12.086 2.59408 13.72 3.265 15 4.40983V3.33317H16.6667V7.49983H12.5V5.83317H14.0825C13.4578 5.22087 12.7033 4.75693 11.875 4.47567Z" fill="black"/></svg>');
  mask: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.875 4.47567C10.7054 4.07866 9.44002 4.06314 8.26106 4.43134C7.08209 4.79954 6.05042 5.53245 5.31465 6.5245C4.57889 7.51655 4.17699 8.71654 4.16687 9.95162C4.15674 11.1867 4.5389 12.3931 5.25831 13.3971C5.97771 14.4011 6.99722 15.1508 8.16999 15.5383C9.34276 15.9258 10.6082 15.931 11.7842 15.5532C12.9601 15.1755 13.9858 14.4342 14.7135 13.4362C15.4411 12.4382 15.8333 11.235 15.8333 9.99983H17.5C17.5 11.7171 16.9108 13.3824 15.8306 14.7174C14.7505 16.0524 13.245 16.9763 11.5655 17.3348C9.88611 17.6932 8.13453 17.4645 6.60347 16.6868C5.0724 15.9091 3.85459 14.6296 3.15351 13.0619C2.45242 11.4943 2.31053 9.73358 2.75154 8.07392C3.19255 6.41425 4.18976 4.9562 5.57653 3.94337C6.9633 2.93053 8.65565 2.42428 10.3708 2.50918C12.086 2.59408 13.72 3.265 15 4.40983V3.33317H16.6667V7.49983H12.5V5.83317H14.0825C13.4578 5.22087 12.7033 4.75693 11.875 4.47567Z" fill="black"/></svg>');
  mask-size: cover;
}

.icon-element:hover::before {
  background-color: var(--icon-color-hover);
}
/*Use svg*/
selector {
    
  background: 
    linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url('../img/model-1.jpg') center top;
}
:root {
  --first-color: #16f;
  --second-color: #ff7;
}

#firstParagraph {
  background-color: var(--first-color);
  color: var(--second-color);
}
/*CSS Numbering*/
section {
    counter-reset:item;
}
section .child:after{
    content:counter(item, decimal-leading-zero) " ";
    counter-increment:item;
    font-size:60px;
    line-height:60px;
    position:absolute;
    font-weight:700;
    font-family:'Barlow Condensed', sans-serif;
    bottom:30px;
    right:30px;
    letter-spacing:1px;
    z-index:99;
    color:transparent;
    -webkit-text-stroke:1px rgba(225, 225, 225, 0.50);
}
----------------------------------------------------------
h3 {
  counter-increment: h3;
  display: list-item;
}

h3::marker {
  display: list-item;
  content: "#" counter(h3) " ";
  color: lightsalmon;
  font-weight: bold;
}

/* Add the blur effect */
filter: blur(8px);
-webkit-filter: blur(8px);


/* BG BLUR */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
/* BG BLUR */


/* Flex box fixed width Element */

.fixed part {
    flex: 0 0 100px;
}
.resixed part{
    flex: 1;   
}
.ellipsis-text {
    height: auto !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
/*Gradient Border with Radius*/
selector {
   /* display: flex;
    align-items: center; */   
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    color: #FFF;
    background: #090b16;
    background-clip: padding-box;
    border: solid 2px transparent;
    border-radius: 8px;
}
selector::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(73.69deg, #FF28A7 8.86%, #3221AB 88.27%);
}

/*Support CSS*/
@supports (display: grid) {
    div {
        display: grid;
    }
}
@supports not (display: grid) {
    div {
        display: table;
        width: 100%;
    }
}
/*Disable button click*/
a[aria-current="page"] {
  pointer-events: none;
}
/*Where Css*/
.parent #children1,
.parent .children2,
.parent p {    
    background-color: blue
}
/*Replace it with below*/
.parent:where(#children1, .children2, p ) {
    background-color: blue
}
/*Alpha value in HEX Color*/
#00000050
