/*gradient test css*/
selector {
    background: linear-gradient(180deg, #ff8a00, #da1b60); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
/*Image text css*/
selector {
    background-image: url(images/home-startup-text-bg.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
/*CSS Variable*/
:root {
  --first-color: #16f;
  --second-color: #ff7;
}

#firstParagraph {
  background-color: var(--first-color);
  color: var(--second-color);
}
/*CSS Numbering*/
h3 {
  counter-increment: h3;
  display: list-item;
}

h3::marker {
  display: list-item;
  content: "#" counter(h3) " ";
  color: lightsalmon;
  font-weight: bold;
}

/* Add the blur effect */
filter: blur(8px);
-webkit-filter: blur(8px);

/* BG BLUR */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
/* BG BLUR */

/* Flex box fixed width Element */

.fixed part {
    flex: 0 0 100px;
}
.resixed part{
    flex: 1;   
}