/*Gradient test css*/
selector {
    background: linear-gradient(180deg, #ff8a00, #da1b60); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
/*Image text css*/
selector {
    color: transparent;
    background-image: url(images/home-startup-text-bg.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
/*Use svg*/
selector {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><linearGradient id='gradient'><stop offset='10%' stop-color='%23F00'/><stop offset='90%' stop-color='%23fcc'/> </linearGradient><rect fill='url(%23gradient)' x='0' y='0' width='100%' height='100%'/></svg>");
}
selector {
    
  background: 
    linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url('../img/model-1.jpg') center top;
}
:root {
  --first-color: #16f;
  --second-color: #ff7;
}

#firstParagraph {
  background-color: var(--first-color);
  color: var(--second-color);
}
/*CSS Numbering*/
h3 {
  counter-increment: h3;
  display: list-item;
}

h3::marker {
  display: list-item;
  content: "#" counter(h3) " ";
  color: lightsalmon;
  font-weight: bold;
}

/* Add the blur effect */
filter: blur(8px);
-webkit-filter: blur(8px);


/* BG BLUR */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
/* BG BLUR */


/* Flex box fixed width Element */

.fixed part {
    flex: 0 0 100px;
}
.resixed part{
    flex: 1;   
}
/*Gradient Border with Radius*/
selector {
   /* display: flex;
    align-items: center; */   
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    color: #FFF;
    background: #090b16;
    background-clip: padding-box;
    border: solid 2px transparent;
    border-radius: 8px;
}
selector::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(73.69deg, #FF28A7 8.86%, #3221AB 88.27%);
}

/*Support CSS*/
@supports (display: grid) {
    div {
        display: grid;
    }
}
@supports not (display: grid) {
    div {
        display: table;
        width: 100%;
    }
}
/*Where Css*/
.parent #children1,
.parent .children2,
.parent p {    
    background-color: blue
}
/*Replace it with below*/
.parent:where(#children1, .children2, p ) {
    background-color: blue
}
/*Alpha value in HEX Color*/
#00000050